<div class="panel panel-default">
  <!--<div class="panel-heading">{{ element.name }}</div>-->
  <div class="panel-heading" #heading>{{ name }}</div>
  <div class="panel-body">
    <!--<p>-->
      <!--<strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>-->
      <!--<em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>-->
    <!--</p>-->

    <!-- Special directive to mark place for Angular where it should add any content when founded between custom opening and closing tag (made from Angular component). -->
    <ng-content></ng-content>
  </div>
</div>